<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
								<!--/* 레이아웃의 타이틀   >    내용의 타이틀 (변환될 때 제거되는 주석)*/-->
<title layout:title-pattern="$LAYOUT_TITLE > $CONTENT_TITLE">게시판</title>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div th:replace="fragments/header::header"></div><!-- div태그가 없어지면서 header.html에 있는 header div를 include하면서 대체 -->
<div layout:fragment="content"></div><!-- div 태그 하위로(자식으로) 내용이 들어감 -->
<div th:replace="fragments/footer::footer"></div>
</body>
</html>