<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 수정</title>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="page-main">
	<h2>글 수정</h2>
	<!-- th:object : request에 저장되어 있는 자바빈 호출 -->
	<form action="update.do" method="post" th:object="${boardVO}">
		<input type="hidden" th:field="*{num}"><!-- num값이 있어야 update가 되니까 hidden값으로 num을 받는다. -->
		<ul>
			<li>
				<label for="writer">작성자</label>
				<!-- 
				th:field : 자바빈의 필드 지정 
				*{writer} = boardVO.writer
				-->
				<input type="text" th:field="*{writer}" th:errorclass="field-error"><!-- th:field라고만 명시하면 name과 id를 만들어준다. -->
				<span th:errors="*{writer}" class="error-color"></span><!-- 에러메세지를 처리하기 위한 스판태그 -->
			</li>	
			<li>
				<label for="title">제목</label>
				<input type="text" th:field="*{title}" th:errorclass="field-error">
				<span th:errors="*{title}" class="error-color"></span>
			</li>
			<li>
				<label for="passwd">비밀번호</label>
				<input type="password" th:field="*{passwd}" th:errorclass="field-error">
				<span th:errors="*{passwd}" class="error-color"></span>
			</li>
			<li>
				<label for="content">내용</label>
				<textarea rows="5" cols="30" th:field="*{content}" th:errorclass="field-error"></textarea>
				<span th:errors="*{content}" class="error-color"></span>
			</li>
		</ul>
		<div class="align-center">
			<input type="submit" value="수정">
			<input type="button" value="목록" onclick="location.href='list.do'">
		</div>
	</form>
</div>
</body>
</html>